In [1]:
# Import necessary libraries
import pandas as pd  
import numpy as np   
import os

In [19]:
# Use the full absolute path to the "Original Data" folder.
path = '/Users/dela/Documents/15-01-2025 Instacart Basket Analysis/02 Data/Original Data/'

In [21]:
# Load the datasets into dataframes
df_ords = pd.read_csv(os.path.join(path, 'orders.csv'))
df_prods = pd.read_csv(os.path.join(path, 'products.csv'))

In [11]:
df_ords.head()  # Check the first few rows of the dataframe

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [23]:
# Dropping the 'eval_set' column from the orders dataframe
df_ords.drop(columns=['eval_set']).head(10)  # Display the first 10 rows

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0

In [25]:
# Permanently removing the 'eval_set' column
df_ords = df_ords.drop(columns=['eval_set'])

In [27]:
df_ords.head()
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [29]:
# Use value_counts() to investigate missing values in 'days_since_prior_order'
df_ords['days_since_prior_order'].value_counts(dropna=False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [31]:
# Access 'days_since_prior_order' column
df_ords['days_since_prior_order']

0           NaN
1          15.0
2          21.0
3          29.0
4          28.0
           ...
3421078    29.0
3421079    30.0
3421080    18.0
3421081     7.0
3421082    30.0
Name: days_since_prior_order, Length: 3421083, dtype: float64

In [35]:
# Rename the 'order_dow' column to 'orders_day_of_week'
df_ords.rename(columns={'order_dow': 'orders_day_of_week'}, inplace=True)

In [37]:
# Display the first few rows to confirm the change
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [39]:
# Change the data type of the 'order_id' column to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [41]:
# Check the new data type of the 'order_id' column
df_ords['order_id'].dtype

dtype('O')

In [43]:
# Check data types of all columns
df_ords.dtypes

order_id                   object
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [47]:
# Step 1: Import the necessary libraries
import pandas as pd

# Step 2: Define the file path
file_path = '/Users/dela/Documents/15-01-2025 Instacart Basket Analysis/02 Data/Original Data/4.4_departments.csv'

# Step 3: Load the file into a dataframe
df_dep = pd.read_csv(file_path)

# Step 4: Inspect the dataframe
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [55]:
# Transpose the dataframe
df_dep_t = df_dep.T

# Check the transposed dataframe
df_dep_t.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [57]:
# Extract the first row as the new header
new_header = df_dep_t.iloc[0]

# Remove the first row and set the new header
df_dep_t_new = df_dep_t[1:]
df_dep_t_new.columns = new_header

In [59]:
# Display the corrected dataframe
df_dep_t_new.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [61]:
# Copy everything from the second row onward into a new dataframe
df_dep_t_new = df_dep_t[1:]

In [75]:
# Convert the dataframe to a dictionary
data_dict = df_dep_t_new.to_dict('index')

# View the dictionary
data_dict

{'1': {0: 'frozen'},
 '2': {0: 'other'},
 '3': {0: 'bakery'},
 '4': {0: 'produce'},
 '5': {0: 'alcohol'},
 '6': {0: 'international'},
 '7': {0: 'beverages'},
 '8': {0: 'pets'},
 '9': {0: 'dry goods pasta'},
 '10': {0: 'bulk'},
 '11': {0: 'personal care'},
 '12': {0: 'meat seafood'},
 '13': {0: 'pantry'},
 '14': {0: 'breakfast'},
 '15': {0: 'canned goods'},
 '16': {0: 'dairy eggs'},
 '17': {0: 'household'},
 '18': {0: 'babies'},
 '19': {0: 'snacks'},
 '20': {0: 'deli'},
 '21': {0: 'missing'}}

In [77]:
# Get the department name for department_id 19
print(data_dict.get('19'))  # Replace '19' with the desired ID as needed

{0: 'snacks'}

In [89]:
# Subset the df_prods dataframe for snacks department
df_snacks = df_prods[df_prods['department_id'] == 19]
df_prods['department_id'] == 19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [93]:
# Check the shape of the new subset
df_snacks.shape  # Returns (rows, columns)

# Display the first few rows
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [101]:
# Subsetting with .loc
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [105]:
df_snacks_4 = df_prods.loc[df_prods['department_id'].isin([17, 18, 19])]

In [107]:
# Save the snacks subset
df_snacks = df_prods[df_prods['department_id'] == 19]

# Verify the results
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [113]:
# Set the base path
path = '/Users/dela/Documents/15-01-2025 Instacart Basket Analysis'

# Export the df_snacks dataframe to the Prepared Data folder
df_snacks.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'snacks_subset.csv'), index=False)

print("Dataframe exported successfully!")

Dataframe exported successfully!